# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env

# Database
*.db

# IDE
.idea/
.vscode/
*.swp

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls

# OS
.DS_Store
Thumbs.db

